@import url(./_mixins.scss);
@import url(./_variables.scss);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    height: 100vh;
}

.totalno{
    font-size: 65px;
}